@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/css/Login/login.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Layout/layout.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="navbar">
        <a><img src="https://iottie.com/img/common/iottie_logo.svg" alt="iottie logo" /></a>
        <ul>
            <li><a href="/Login/Index">Home</a></li>
            <li><a href="/Login/Contact">Contact</a></li>
        </ul>
    </div>
    <div style="text-align:center; font-size: 30px; font-weight:bold; margin: 50px;">Contact</div>
    <div style="text-align:center; font-size: 20px;">SUNG JAE MIN</div><br/>
    <address style="text-align:center;">
        
        <abbr title="Phone" style="text-align:center;">Cell:</abbr> 201-663-5999<br/>
        <abbr title="Email" style="text-align:center;">Email:</abbr> smin0219@gmail.com<br/><br/>
    </address>

    <address style="text-align:center;">
        <strong>Business Development:</strong>   <a href="mailto:sales@iottie.com">sales@iottie.com</a><br />
        <strong>Customer Service:</strong> <a href="mailto:cs@iottie.com">cs@iottie.com</a><br />
        <strong>Press & Media:</strong>   <a href="mailto:iottie@bigfishpr.com">iottie@bigfishpr.com</a><br />
    </address>
    <script>
        $(function () {
            $('a').each(function () {
                if ($(this).prop('href') == window.location.href) {
                    $(this).addClass('active');
                }
            });
        });
    </script>
</body>
</html>

