body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-top: 60px;
    margin-left: 5%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.inputBox {
    font-family: sans-serif;
    font-size: 16px;
    width: 290px;
    height: 35px;
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.userInputBorder {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 700px;
    height: 500px;
    border: 1px solid;
    background-color: #333;
}

.submitBtn {
    width: 300px;
    height: 40px;
    margin-top: 13px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #333;
    border: 2px solid #8DC63F;
    border-radius: 4px;
}

.submitBtn:hover {
    color: #333;
    background-color: #8DC63F;
}

.innerView {
    width: 700px;
    height: 500px;
    text-align: center
}